<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
    Tz: 123456782<br />
  </div>
  <div class="card">
    <h4 class="card-header">Management Test System with Angular 10 JWT - Elisha Lipkin</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Israel Passport ID</mat-label>
          <input matInput formControlName="tzNumber" type="number" [(ngModel)]="tzInput">
          <button *ngIf="tzInput" matSuffix mat-icon-button aria-label="Clear" (click)="tzInput=0">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls.tzNumber.touched && loginForm.controls.tzNumber.invalid">
            <span *ngIf="loginForm.controls.tzNumber.errors.required">This field is mandatory.</span>
            <span *ngIf="loginForm.controls.tzNumber.errors.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
